/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* importation des fichées css.*/
@import url(media.css);
@import url(variables.css);

/* integration de police space grotesk. */
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf');
  font-weight: 700;
}
/* arrangement de feuille des elements parents */
body{
  font-family: "SpaceGrotesk",sans-serif ;
  font-size: 15px;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 0 !important;
}

html {
  font-family: "SpaceGrotesk",sans-serif;
  color: #222;
  font-size: 15px;
  line-height: 1.4;
}
/* la mise en forme de l'entete du site la barre de navigation */
head{
  z-index: 20 !important;
}

.lienk1,
  .lienk2,
  .lienk4,
  .lienk5{
    position: relative;
    font-weight: 500 !important;
    top: 25px;
    height: 43px;
  }
.lienk3{
  padding-left: 20px;
  padding-right: 20px;
}
a{
  color: var(--linkColor-)!important;
}

.logo{
  width: 131px !important;
}

.navMenu{
  display: none;
  width: 100%;
}
.offcanvas{
  
  background-color: rgb(61, 60, 60);
  color: aliceblue;
}

.offcanvas-header{
  background-color: aliceblue;
}

.offcanvasRightLabel .logo{
  width: 80px !important;
}

/* le cors de ce site */
 .container-fluid{
  position: relative;
  top: 0Px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
 }
 .imageYemei{
  display: flex;
  justify-content: center;
  background: url(../img/unsplash_ny6tO4ItOEY.png);
  background-size: cover;
  background-position: center;
 }
 .title-entete{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  
  max-width: 500px;
  height: 230px;
  text-align: center;
  color: var(--navBar-);
 }
 .title-entete h1{
  position: absolute;
  top: 10px;
  
 }
 .title-entete span{
  font-size: 12px;
  line-height: 19.14px;
 }

 .bottonInfos{
  position: absolute;
  bottom: 0;
 }

 .bottonInfos .bntINfos{
  margin-right: 10px;
  color: #222;
  border: 1px solid var(--navBar-) !important;
  background-color: var(--navBar-);

  -moz-transform: skew(-15deg,0deg);
	-o-transform: skew(-15deg,0deg);
	-webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
 }
 
 .bottonInfos .btnCOntact{
  margin-left: 10px;
  color: var(--navBar-);
  
  border: 1px solid var(--navBar-) !important;
  background-color: transparent;

  -moz-transform: skew(-15deg,0deg);
	-o-transform: skew(-15deg,0deg);
	-webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
 }

/* la section presentation */
.imagePresentes{
  position: relative !important;
}
 .btnInfoPlus{
  width: 167px;
  border: 1px solid #222 !important;
  border-radius: 0;
  background-color: #222;
  color: var(--navBar-);
	-moz-transform: skew(-15deg,0deg);
	-o-transform: skew(-15deg,0deg);
	-webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
 }

/* la section service */

.services{
  background-image: url(../img/unsplash_QYVCzK-bnYU.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 10%;
 }
 
 .infoService h2{
  color: var(--navBar-);
}

 .infoService p{
  color: rgba(255, 255, 255, 0.377);
 }

 .bloc-Rectangle{
  display: flex;
  justify-content: center;
 }

 .Rectangle11{
  height: 300px;
  background-color: #D3D3D3;
 }

 .Rectangle12{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 11px;
  left: 5px;
  bottom: 3px;
  background-color: #FFFFFF;
  z-index: 1;
}

.Rectangle12 svg{
  width: 40px !important;
  height: 40px;
}

 /* la section nos realisation*/

 .contenu-realiser{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .voirPucRealisation{
  width: 167px;
  border: 1px solid #222 !important;
  border-radius: 0;
  background-color: transparent;
  color: #222;

	-moz-transform: skew(-15deg,0deg);
	-o-transform: skew(-15deg,0deg);
	-webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
 }
/* la section confiance */

.confiance{
  background-color: #D3D3D3;
}

.confianceClient{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 249px;
}

.confianceClient .title{
  width: 224px;
  text-align: center;
}

.logoUtilise{
  width: 100%;
}

.list-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* la section nos news */
.block-newImage div{
  padding: 5px;
}
.button-New{
  width: 167px;
  border: 1px solid #222 !important;
  border-radius: 0;
  background-color: transparent;
  color: #222;

	-moz-transform: skew(-15deg,0deg);
	-o-transform: skew(-15deg,0deg);
	-webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
}
/* la section commenteur */
.commenteur{
  background-color: #F5F5F5;
}
.temoignage{
  position: relative;
  display: flex;
}
.block-commenteur{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54vh;
  background-color: black;
  color: #f5f5f5c2;
}
.affichCommenteur{
  width: 50%;
  font-size: 12px;
  background-color: #2222221c;
}
/* la partie offcanvas */

.offcanvas-body li{
  background-color: #2222221c;
  border: 1px solid #f5f5f559;
  border-radius: 8px;
  margin: 5px !important;
  transition: color 0.35s ease-in-out, background-color 0.45s ease-in-out;
}
.offcanvas-body li:hover{
  background-color: black;
  border: 1px solid #f5f5f54d;
  border-radius: 8px;
  margin: 5px !important;
}

.text-reset{
  box-shadow: none !important;
}

.text-reset:hover{
  padding: 10px !important;
  background-color: #f5f5f53a;
}

.offcanvas-body ul li a{
  color: aliceblue !important;
  font-size: 25px;
}

/* la partie footer */

footer{
  background-color: #000000;
  color: #d3d3d39d !important;
  padding-top: 10px;
  text-align: justify;
}
footer .Suivez-nous .nous-contactez{
  background-color: #FFFFFF;
}
footer .Suivez-nous .nous-contactez button{
  color: #FFFFFF;
}
footer .Suivez-nous input{
  border-radius: 0;
  background-color: #000000;
}

/* la deuxieme page de notre site, ici on parle de comment fonctionne notre agence*/

.agenceHeader{
  background-color: red;
}



 


