@media (max-width:768px)  {
    /* le cors de ce site */
    .title-entete{
        top: 151px;
       }
    .imageYemei{
        height: 500px;
       }

       /* la section presentation */
    .imgMan{
        width: 235px !important;
        height: 410px !important;
        z-index: 1;
        margin: 0px;
      }
      .imgWomen{
        position: absolute;
          width: 200px !important;
          height: 410px !important;
          left: 156px;
      }
      .kisomeNous{
        padding-top: 1% !important;
      }
      .kisomeNous h2{
        padding-bottom: 0px !important;
      }
      .kisomeNous .btnInfoPlus{
        margin-top: 2% !important;
        
      }
      .kisomeNous .paragraph{
        font-size: 12px !important;
        padding-top: 1% !important;
      }
      /* la section service 
      
      .contenyService{
        display: flex;
        justify-content: center;
        margin-top: 17%;
       }
       .infoService{
        display: flex;
        align-items: center;
        flex-direction: column;
       }
       .infoService p{
        margin-top: 5% !important;
        text-align: center;
       }
       
      .bloc-Rectangle{
        justify-content: space-between !important;
         
        }
    
       .conteny-rectagles{
         position: relative;
         margin-top: 1%;
         
        
        }
        .Rectangle11{
          width: 110px !important;
          margin-right: 10px !important;
          
         }
       .Rectangle12{
        width: 150px !important;
          z-index: 1;
          position: absolute;
          left: 5px;
          bottom: 2px;
         } */
} 

@media (min-width:768px)  {
    /* le cors de ce site */

    .title-entete{
        top: 190px;
       }
    .imageYemei{
        height: 660px;
       }
       
       /* la section presentation */

       .kisomeNous{
        padding-top: 2% !important;
      }
      .kisomeNous h2{
        padding-bottom: 0px !important;
      }
      .kisomeNous .btnInfoPlus{
        margin-top: 3% !important;
        
      }
      .kisomeNous .paragraph{
        padding-top: 1% !important;
      }
    .imgMan{
        width: 233px !important;
        height: 410px !important;
        z-index: 1;
        margin: 0px;
      }
      .imgWomen{
        position: absolute;
          width: 190px !important;
          height: 410px !important;
          left: 156px;
      }

   /* section nos service */
     
   .contenyService{
    display: flex;
    justify-content: center;
    margin-top: 17%;
   }
   .infoService{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .infoService p{
    margin-top: 5% !important;
    text-align: center;
   }
   
  .bloc-Rectangle{
    font-size: 13px;
     margin-top: 2%;
    }

   .conteny-rectagles{
     position: relative;
     display: flex;
     margin-top: 10%;
    
    }
    .Rectangle11{
      width: 180px !important;
     }
   .Rectangle12{
    width: 203px !important;
      z-index: 1;
      position: absolute;
      left: 5px;
      bottom: 2px;
     }
    
}

@media (min-width:992px)  {
     /* le cors de ce site */

    .title-entete{
        top: 190px;
       }
    .imageYemei{
        height: 660px;
       }
       /* la section presentation */

       .kisomeNous{
        padding-top: 2% !important;
      }
      .kisomeNous h2{
        padding-bottom: 0px !important;
      }
      .kisomeNous .btnInfoPlus{
        margin-top: 10% !important;
        
      }
      .kisomeNous .paragraph{
        padding-top: 3% !important;
      }

    .imgMan{
        width: 297px !important;
        height: 420px !important;
        z-index: 1;
        margin: 0px;
      }
      .imgWomen{
        position: absolute;
          width: 254px !important;
          height: 420px !important;
          left: 195px;
        
      }

      /* section nos service */
     
      .contenyService{
        display: flex;
        justify-content: center;
        margin-top: 11%;
       }
       .infoService{
        width: 51%;
        display: flex;
        align-items: center;
        flex-direction: column;
       }
       .infoService p{
        text-align: center;
       }
       
      .bloc-Rectangle{
         margin-top: 7%;
        }

       .conteny-rectagles{
         position: relative;
         display: flex;
         margin-top: 5%;
         margin-bottom: 10%;
        }
       .Rectangle12{
          z-index: 1;
          position: absolute;
          left: 5px;
          bottom: 2px;
         }
     
}

@media (min-width:1200px){
     /* le cors de ce site */

    .title-entete{
        top: 190px;
       }
    .imageYemei{
        height: 660px;
       }

       /* la section presentation */

    .imgMan{
        width: 307px !important;
        height: 410px !important;
        z-index: 1;
        margin: 0px;
      }
      .imgWomen{
        position: absolute;
          width: 335px !important;
          height: 410px !important;
          left: 210px;
        
      }
      /* section nos service */
      .contenyService{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 11%;
       }
       .infoService{
        width: 71%;
        display: flex;
        align-items: center;
        flex-direction: column;
       }
       
      .bloc-Rectangle{
         margin-top: 5%;
        }

       .conteny-rectagles{
         position: relative;
         display: flex;
         margin-top: 5%;
         margin-bottom: 10%;
        }
       .Rectangle12{
          z-index: 1;
          position: absolute;
          left: 5px;
          bottom: 2px;
         }
         
 
      
}



